body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: White;
}

.cd-logo, .kitchentools, .cakeI, .mixer {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffa600;
  background-size: cover;
  min-height: 75%; 
  background-attachment: fixed;
}

  .cd-logo {
background-image: url("CoderDojo.png");
  min-height: 100%;
  background-size: auto;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align:center
}

.textSection {
  background-color:#ffa600;
  padding:50px 80px; 
  background-position: center;
} 
.kitchentools {
  background-image: url("utensils.JPG");
} 

.cakeI { 
  background-image: url("ingredients.jpg");
} 

.caption { 
  position: absolute; 
  top: 40%; 
  width: 100%; 
  text-align: center; 
} 

.border { 
  background-color: #ffa600; 
  color: white; 
  padding: 18px; 
  font-size: 25px; 
  letter-spacing: 10px;
} 

.mixer { 
  background-image: url("mixer.jpg")
} 

@media only screen and (max-device-width: 1024px) {
  .cd-logo, .layer-cake, .kitchen-equipment, .cake-ingredients, .bowl-of-cakemix,
   .cake-in-oven, .decorated-cake { 
     background-attachment: scroll;
   }
  } 